.feature-box{
    background-color: rgba($color-white,.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 0.3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-back, .15);
    transition: transform .5s;
    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;
    }   
    &:hover{
        transition: transform .5s;
        transform: translateY(-1.7rem) scale(1.04);
    }
}